

table {

	border: 1px solid;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;

}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #ffff99;
}

table tbody tr:nth-child(even) {
}


table th,
table td {
	padding: 15px;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;
}

table th {
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
}

.table-container tfoot {
	background: #EEEEEE;
}

.table-container tfoot td {
	font-weight: bold;
}
